<div *ngIf="cartService.getAllCartItems().length === 0; then thenBlock else elseBlock"></div>
<ng-template #thenBlock>
  <p>Votre panier est (désespérément) vide : <a routerLink="/books">remplissez-le</a> !</p>
</ng-template>
<ng-template #elseBlock>
  <mat-list>
    <h3 mat-subheader>Votre panier</h3>
    <div *ngFor="let item of cartService.getAllCartItems()" class="items">
      <mat-list-item>
        <p mat-line>{{item.title}} : {{item.price | number:'1.2-2'}} €</p>
      </mat-list-item>
    </div>
    <mat-divider></mat-divider>
    <div class="total">
      <mat-list-item>
        <p mat-line>TOTAL (non remisé) : {{cartService.cart?.totalPrice | number:'1.2-2'}} €</p>
      </mat-list-item>
    </div>
    <div class="offer">
      <mat-list-item>
        <p mat-line>Meilleure remise ({{cartService.bestOffer?.humanType}}) : {{cartService.bestOffer?.offerAmount | number:'1.2-2'}} €</p>
      </mat-list-item>
    </div>
    <mat-divider></mat-divider>
    <div class="total">
      <mat-list-item>
        <p mat-line>TOTAL (avec meilleure remise) : {{cartService.bestOffer?.newCartPrice | number:'1.2-2'}} €</p>
      </mat-list-item>
    </div>
  </mat-list>
</ng-template>


