mat-form-field.search {
  margin-top: 10px;
}

.masonry-wall {
  text-align: center;
  margin: 0 auto;

  ngx-masonry {
    margin: 0 auto;

    .masonry-item {
      margin-bottom: 20px;
      background-color: #f1f1f1;
      background-size: cover;
      width: 300px;

      mat-card.book-card {
        max-width: 300px;

        .synopsis {
          text-align: justify;

          &:first-child::first-letter  {
            font-size: 60px;
            padding-right: 10px;
            margin-top: -20px;
            float:left;
            font-family: 'Fondamento', cursive;
            font-weight: 700;
          }
        }

        .price {
          font-size: 20px;
          font-weight: 700;
        }

        img {
          -webkit-transition: opacity ease .2s;
          -o-transition: opacity ease .2s;
          transition: opacity ease .2s;
          
          &:hover {
            cursor: pointer;
            opacity: 0.8;
          }
        }
      }
    }
  }
}

// Skeleton (To Be Finished...)
p:empty {
  animation: loading 1.7s infinite linear;
  background: #dedfe1;
  background-image: -webkit-linear-gradient(to right, #dedfe1 0%, #f2f3f5 20%, #dedfe1 40%, #dedfe1 100%);
  background-image: linear-gradient(to right, #dedfe1 0%, #f2f3f5 20%, #dedfe1 40%, #dedfe1 100%);
  background-repeat: no-repeat;
}

img:empty.card-img-top{
  height: 189.75px;
}

h2:empty{
  height: 38px;
  width: 200px;
}

h3:empty {
  height: 22px;
  width: 200px;
}

h5:empty{
  height: 30px;
  width: 200px;
}

a:empty{
  width: 100px;
  height: 40px;
  border: 0;
}

h4:empty {
  height: 18px;
  width: 200px;
}

p:empty {
  height: 18px;
  width: 200px;
} 

p:empty.lead {
  height: 30px;
  width: 200px;
}

@keyframes loading {
  0% {
    background-position: -100px;
  }
  
  100% {
    background-position: 200px;
  }
}