router-outlet ~ * {
  position: absolute;
  height: 100%;
  width: 100%;
}

main {
  text-align:center;

  nav {
    // position: fixed;

    .links {
      width: 50%;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
      
      a {
        flex-basis: 80%;
        color: #009FB7;
        font-weight: bold;
        text-decoration: none;
    
        &:hover {
            color: #FE4A49;
        }
      }
    }
  }
}