<nav>
  <div>
    <a aria-label="Accueil" mat-button routerLink="/" tabindex="0" aria-disabled="false" href="/">Accueil</a>
    <a mat-button routerLink="/books">Livres</a>
  </div>
  <div>
    <h1>{{ title }}</h1>
  </div>
  <div class="icons">
    <a mat-button mat-icon-button color="primary" routerLink="/cart">
      <mat-icon matBadge="{{cartService.cart.items.length}}" matBadgeColor="accent" matBadgePosition="above after">shopping_cart</mat-icon>
    </a>
    <a mat-button mat-icon-button color="primary" routerLink="https://github.com/NicolasMura/tmp" style="margin-right: 30px;">
      <mat-icon svgIcon="github" aria-hidden="false" aria-label="Github logo SVG icon"></mat-icon>
    </a>
  </div>
</nav>
<main [@fadeAnimation]="o.isActivated ? o.activatedRoute : ''">
  <router-outlet #o="outlet"></router-outlet>
</main>