router-outlet ~ * {
  position: absolute;
  height: 100%;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  background-color: lightgrey;
  width: 100%;
  z-index: 10000;
  padding: 10px;
    
  h1 {
    margin: 0px;
  }

  .icons {
    align-self: flex-end;
  }
}

main {
  text-align:center;
  padding-top: 60px;
}