// @import '~bootstrap/dist/css/bootstrap.min.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body {
  font-family: 'Open Sans', sans-serif;
}
