// @import '~bootstrap/dist/css/bootstrap.min.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Fondamento&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
}
