mat-card.book-card {
  width: 50%;
  margin: 0 auto;
  text-align: center;

  mat-card-header {
    justify-content: center
  }

  .synopsis {
    text-align: justify;
  }

  .price {
    font-size: 20px;
    font-weight: 700;
  }
}