mat-card.book-card {
  width: 50%;
  margin: 0 auto 20px;
  text-align: center;

  mat-card-header {
    justify-content: center
  }

  .synopsis {
    text-align: justify;

    &:first-child::first-letter  {
      font-size: 60px;
      padding-right: 10px;
      margin-top: -20px;
      float:left;
      font-family: 'Fondamento', cursive;
      font-weight: 700;
    }
  }

  .price {
    font-size: 20px;
    font-weight: 700;
  }
}